.search{
    display: flex;
    justify-content: center;
    position: relative;

}
.searchInput {
    width: 80%;
    margin-top: 30px;
    padding: 10px;
    border: none;
    padding-left: 30px;
    border-bottom: 1px solid #a1a1a1;
}
.searchInput:focus{
    outline: none;
    box-shadow: 0 0 2px #8d8d8d;
}
.searchIcon {
    position: absolute;
    top: 40px;
    left: 8%;
    color: #8d8d8d;
  }