.Buttons{
    display: flex;
    justify-content: center;
    padding-top: 15px ;
    padding-bottom: 40px;
}
.cancel , .save {
    margin-left: 10px;
    width: 150px;
    padding: 10px;
font-weight: 500;
border-radius: 5px;
border: none;
cursor: pointer;
color: white;

}
.save{
    background: linear-gradient(135deg, #4caf50, #81c784); 
   
}
.cancel{
    background: linear-gradient(135deg, #f44336, #e57373); 
}